.app{
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  font-weight: 400;
  font-family: 'Lato';
  background-color:#F5F5F5  ;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
  font-weight: 700;
}
.hide{
  display:none !important;
}
.show{
  display: flex !important;
}
.active{
  color: white !important;
}

#spa-layout{
  display:grid;
  height:100vh;
  width:100vw;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}
#page{
  background-color: rgb(227, 227, 227);
}
.menu{
  background-color: black;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
#menu-sign-in{
  justify-content: center;
  align-items: center;           
}
#menu-dashboard{
  margin:0.5rem;
  border-radius: 1.5rem;      
}               
.comp-name{
  font-size: 1.6rem;
  padding:1rem 0 0.5rem 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.menu-items{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items>ol{
  list-style-type: none;
} 
.menu-items li{
  cursor: pointer;
}
.list1 li{
  margin-bottom: 15px;  
} 
.list2 li{
  margin-bottom: 5px;
}        
.menu-items>.list1{
  font-size: 1rem;
  color: rgb(105, 105, 105);           
}
.menu-items>.list2{
  font-size: 0.8rem; 
  color: rgb(105, 105, 105);           
}
.list1 img{
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.5rem;
}
      
#sign-in-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%
}

#sign-in-box{
  display: flex;
  width:35%;
  flex-direction: column;
}

.banner{
  display: flex;
  flex-direction: column;
  margin-bottom:1rem;
  padding: 0.5rem;
}
.heading{
  font-family: 'Montserrat';
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0.1rem;
}
.sub-heading{
  font-size: 1.2rem;
}

.auth{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  overflow-x: hidden;
}
.auth-button{
  display: inline-flex;
  font-family: 'Montserrat';
  font-size: 12px;
  background-color: white;
  padding: 0.5rem;
  margin: 0.1rem;
  border-radius: 0.4rem;
  text-decoration: none;
  color: rgb(144, 145, 146);
}
.auth-button>img{
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 3px;
}

.input-field{
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.input-field input{
  background-color: rgb(234, 235, 235);
  padding: 0.2rem;
  border:none;
  border-radius: 0.5rem;
  height: 1.7rem;
  margin: 0.4rem 0 1.5rem 0;
}
.input-field input:focus{
  background-color: #EAEAEA;
  border: 0px solid black;
}

.form{
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  padding:2.5rem;            
  background-color: white;
}
.form>a{            
  text-decoration: none;
  color:rgb(0, 161, 224);
  margin-bottom:0.2rem;
}
.form input[type="submit"]{
font-size: 0.8rem;
background-color: black;
width: 100%;
border-radius: 0.5rem;
color: white;
font-weight: 600;
border:none;
padding: 0.7rem;
margin-top:1rem;
}

.end{
  text-align: center;
  color: #858585;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 1rem;
}